<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaXxNPI8POw3ZlLScHDoYEvQtR6BeLk1M</string>
	<key>GCM_SENDER_ID</key>
	<string>368715655730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codmshop.bd.gamestopup</string>
	<key>PROJECT_ID</key>
	<string>topupapps-54efa</string>
	<key>STORAGE_BUCKET</key>
	<string>topupapps-54efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368715655730:ios:94649ae9ebee899c5b2a2b</string>
</dict>
</plist>